name: flet_datatable2
description: Flet DataTable2 control
version: 0.1.0
publish_to: none

environment:
  sdk: ">=3.8.0 <4.0.0"
  flutter: ">=3.32.0"

dependencies:
  data_table_2: 2.6.0

  flet:
    path: ../../../../../../../packages/flet

  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0
