[project]
name = "flet-cli"
version = "0.1.0"
description = "Flet CLI"
authors = [{ name = "Appveyor Systems Inc.", email = "hello@flet.dev" }]
license = "Apache-2.0"
readme = "README.md"
requires-python = ">=3.10"

dependencies = [
    "flet",
    "watchdog >=4.0.0",
    "packaging >=25.0",
    "qrcode >=7.4.2",
    "toml >=0.10.2",
    "cookiecutter >=2.6.0"
]

[project.urls]
Homepage = "https://flet.dev"
Repository = "https://github.com/flet-dev/flet"
Documentation = "https://flet.dev/docs"

[project.entry-points."pyinstaller40"]
hook-dirs = "flet_cli.__pyinstaller:get_hook_dirs"

[build-system]
requires = ["setuptools"]
build-backend = "setuptools.build_meta"