__pycache__/
.Python
build/
MANIFEST
# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec
.cache
.env
.venv
env/
venv/
ENV/
/assets/captures/
