.signupForm {
  text-align: center;
  margin: 1rem auto 2rem auto;
  padding: 20px;
  max-width: 600px;
  width: 100%;
  /* background-color: var(--ifm-color-secondary); */
  border-radius: 8px;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1);
  ;
}

.signupForm h3 {
  font-size: 15px;
  font-weight: 600;
}

.signupForm input[type=email],
.signupForm input[type=email]:focus {
  border-style: solid;
  border-width: 1px 0 1px 1px;
  border-color: var(--ifm-color-primary-light);
  border-radius: 4px 0 0 4px;
  background-color: transparent;
  font-size: 15px;
  font-weight: 500;
  padding: 0 15px;
  height: 40px;
  width: 80%;
}

.signupForm input[type=submit] {
  background-color: #e5e5e5;
  display: inline-block;
  line-height: 1.2em;
  text-decoration: none !important;
  transition: background 0.6s;
  border-color: var(--ifm-color-primary-light);
  border-style: solid;
  border-radius: 0 4px 4px 0;
  border-width: 1px 1px 1px 0;
  /* color: var(--ifm-color-primary-dark); */
  font-size: 15px;
  font-weight: 500;
  height: 40px;
  padding: 0 20px;
  cursor: pointer;
}

html[data-theme='dark'] .signupForm input[type=submit] {
  background-color: #333;
}

@media only screen and (max-width: 768px) {

  /* For mobile phones: */
  .signupForm {
    margin: 1rem auto 1rem auto;
    padding: 10px 5px;
    max-width: 300px;
  }

  .signupForm input[type=email],
  .signupForm input[type=email]:focus {
    width: 60%;
    padding: 0 10px;
    height: 30px;
  }

  .signupForm input[type=submit] {
    padding: 0 10px;
    height: 30px;
  }
}