name: Build docs

on:
  push:
  workflow_dispatch:

jobs:
  deploy:
    name: Deploy Documentation
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup uv
        uses: astral-sh/setup-uv@v6

      - name: Build docs
        working-directory: sdk/python
        run: |
          uv sync --group docs -v
          uv pip install --no-deps --force-reinstall flet-web>=0.70.0.dev0
          cd packages/flet
          uv run mkdocs build -v
#        run: |
#          cd sdk/python/packages/flet
#          uv sync --group docs -v
#          uv pip install -v --no-deps --force-reinstall flet-web>=0.70.0.dev0
#          uv run mkdocs build -v
